/* CSS declarations go here */
.idea {
  display: inline;
}
.date {
	color: gray;
}



.ideaContainer {
	width: 70%;
  	margin-bottom: 8px;
}


div.right {
	float: right;
	margin-left: 5px;
}

div.subideas {
}

a.subideas{
  text-decoration: none;
  
}

text {
	-webkit-user-select: none;
	-moz-user-select: none;
}

.link {
  stroke: #aaa;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hidden {
  display: none;
}

.relation{	
	border: 1px solid lightgray;
	/* color: gray; */
	margin: 0px 4px 2px 0px;
	background: white;
	padding: 0px 5px 0px 5px;
	border-radius: 3px;
	/* font-size: 12px; */
	-webkit-transition: all 0.3s linear;
	display: inline-block;
}

.relation a {
	text-decoration: none;

}

.node.fixed {
  fill: #f00 !important;
}

.node.focused {
  stroke-width: 5px;
  stroke: #ddd;
}

.relation.expanded {
	color:black;
	border: 1px black solid;
}

.relation.expanded a {
	color:black;
}

.relation a.confirm {
	color:green;
}

.relation a.deny {
	color:red; 
	font-weight:bold;
}

.show {
	display: block
}