/* CSS declarations go here */
.idea {
  display: inline;
}
.date {
	float: right;
	color: gray;
}

.ideaContainer {
	width: 70%;
}
a.subideas{
  text-decoration: none;
  color:blue;
}
a.subideas:hover {
  color:gray;
}

.hidden {
  display: none;
}

.relatedIdea {
	border: 1px #ccc solid;
}

